modules = ["nodejs-16", "web", "python-3.12"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run Python Server"

[[workflows.workflow]]
name = "Run Python Server"
author = 39713821
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
